.benefits__list {
  display: flex;
}

.benefits__list-item:not(:last-child) {
  margin-right: var(--list-item-gap);
}

.benefits__title {
  margin-bottom: 10px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
.benefits__text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color, black);
}

.benefits__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 120px;
  background-color: #f5f4fa;
  border-radius: 4px;
  margin-bottom: 30px;
}
