.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: var(--background-color, black);
}

.basement__conteiner {
  display: flex;
  align-items: baseline;
}
.basement__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--mainbackground-color);

  margin-bottom: 20px;
}
