.basement {
  padding-top: 60px;
  padding-bottom: 60px;
  background-color: $backgroundColor;

  &__conteiner {
    display: flex;
    align-items: baseline;
  }
  &__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $mainBackgroundColor;

    margin-bottom: 20px;
  }
}
