:root {
  --maintext-color: #212121;
  --text-color: #757575;
  --actvbtn-textcolor: #ffffff;
  --potfoliob-btn-color: #2196f3;
  --mainbackground-color: #ffffff;
  --background-color: #2f303a;
  --secondarybackground-color: #f5f4fa;
  --accent-color: #2196f3;
  --btnhover-color: #188ce8;
  --logo-color: #000000;
  --basementlogo-color: #ffffff;
  --link-color: #afb1b8;
  --list-item-gap: 30px;
}

// $mainTextColor: #212121;
// $textColor: #757575;
// $actvbtnTextColor: #ffffff;
// $portfolioBtnColor: #2196f3;
// $mainBackgroundColor: #ffffff;
// $backgroundColor: #2f303a;
// $secondaryBackgroundColor: #f5f4fa;
// $accentColor: #2196f3;
// $btnhoverColor: #188ce8;
// $logoColor: #000000;
// $basementLogoColor: #ffffff;
// $linkColor: #afb1b8;
// $listItemGap: 30px;
